@model DemoProj.Entities.RentInfo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>RentInfo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CustomerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RacketId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RacketId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateRented)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateRented)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateToReturn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateToReturn)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
